// HEADER
nav {
  .head-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    // CHECKBOX
    input {
      position: absolute;
      height: 50px;
      width: 50px;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 5;
      cursor: pointer;
      // Hover

      &:checked:hover + .hamburger {
        div {
          transform: rotate(490deg);
        }
      }
      &:checked + .hamburger {
        div {
          background-color: $main-color;
          transform: rotate(310deg);

          &:before,
          &:after {
            top: 0;
            left: 0;
          }
          &:after {
            transform: rotate(95deg);
            width: 100%;
          }
        }
      }
      // CHECKED
      &:checked ~ .content {
        visibility: visible;

        & > div {
          transform: scale(1.1);
          opacity: 1;
          transition-duration: 1s;
          & > div {
            opacity: 1;
            transition: opacity 0.4s ease 0.3s;
          }
        }
      }
    }

    // HAMBURGER
    .hamburger {
      position: absolute;
      height: 50px;
      width: 50px;
      top: 0;
      left: 0;
      background-color: rgba(3, 3, 3, 0.7);
      display: flex;
      align-items: center;
      padding: 0px 7px;
      z-index: 4;

      //   lines
      div {
        position: relative;
        height: 2px;
        width: 75%;
        margin: 0 auto;
        background: $main-color;
        transition: 0.5s all;

        &:before,
        &:after {
          content: "";
          position: absolute;
          height: inherit;
          width: 50%;
          background: inherit;
          transition: inherit;
        }

        &:before {
          top: 9px;
          left: 0px;
        }
        &:after {
          top: -9px;
          left: 15px;
        }
      }
    }
    // CONTENT
    .content {
      position: fixed;
      top: -50px;
      left: 0;
      visibility: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      & > div {
        height: 300vw;
        width: 300vw;
        opacity: 0;
        transform: scale(0);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
        transition: 0.5s all ease;
        background-image: linear-gradient(
          to right bottom,
          #6253cb,
          #7292bf 50%
        );
        background-size: 500%;
        animation: anim 10s infinite alternate-reverse ease-in-out;
        @keyframes anim {
          50% {
            background-size: 100%;
          }
          100% {
            background-size: 500%;
          }
        }
        & > div {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.2);
          text-align: center;
          opacity: 0;
          transition: opacity 0.4s ease;
        }

        ul {
          top: -100px;
          li {
            padding: 25px;
            .current {
              border-bottom: 1px solid #fff;
              color: $primary-color;
            }
            a {
              padding: 15px 25px;
              font-family: $font-c;
              font-weight: bold;
              font-size: 18px;
              color: #000;
              transition: 0.5s all ease;

              &:hover {
                color: #fff;
                border-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}

// MAIN A

.main-a {
  & > div {
    margin: auto;
  }
  h2 {
    color: $main-color;
    text-align: center;
    font-size: 30px;
  }
  .lead {
    margin: 40px 0px;
    line-height: 1.7em;
    font-size: 20px;
  }
  //   ROAD MAP
  #road {
    background-color: $main-color;
    border-bottom: 3px solid $primary-color;
    border-top: 3px solid $primary-color;

    h2 {
      color: $line-color;
      font-size: 28px;
    }
    .line {
      background-color: $line-color;
      width: 100px;
      margin-bottom: 20px;
    }
    h3 {
      margin-bottom: 30px;
    }
    // MAIN SUTFF OF ROAD MAP
    .road {
      ul {
        h3 {
          color: $head;
          display: block;
          font-family: $font-b;
          padding-bottom: 5px;
          border-bottom: 1px dotted $primary-color;
          font-size: 24px;
        }
        p {
          line-height: 1.7em;
          font-size: 18px;
        }
        // LEFT RIGHT
        &:nth-child(odd) div {
          left: -520px;
          &::after {
            position: absolute;
            content: "";
            border: solid;
            border-width: 8px 8px 8px 16px;
            border-color: transparent transparent transparent $arrow;
            left: 492px;
          }
        }
        &:nth-child(even) div {
          left: 25px;
          &:after {
            position: absolute;
            content: "";
            display: block;
            border: solid;
            border-width: 8px 16px 8px 8px;
            border-color: transparent $arrow transparent transparent;
            left: -16px;
          }
        }
        li {
          position: relative;
          width: 4px;
          margin: 0px auto;
          background-color: $idk;
          &::after {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            background-color: $idk;
            border-radius: 50%;
            left: -120%;
            bottom: 4px;
          }
        }
        div {
          position: relative;
          width: 500px;
          background-color: $idk;
          padding: 20px;
        }
      }
    }
  }
}
.section-b {
  border-bottom: 3px solid $primary-color;
  background-color: #222;
  .container {
    margin: auto;
  }
  h2 {
    color: $main-color;
    margin: 25px 0px;
    font-size: 27px;
  }
  ul {
    li {
      margin: 45px auto;
      a {
        transition: all 0.5s ease;
        padding: 20px 30px;
        color: #fff;
        font-size: 21px;
        border-bottom: 1px solid transparent;

        text-shadow: #000 2px 2px 10px;

        &:hover {
          color: $primary-color;
          border-bottom: 1px solid $main-color;
          font-size: 22px;
        }
      }
    }
  }
}
// language
.language-a,
.language-b {
  margin: 60px auto 0 auto;
  border-bottom: 3px solid $primary-color;
  h2 {
    color: $main-color;
    font-size: 35px;
    margin-bottom: 30px;
  }
  .mar {
    margin: 0px auto 50px auto;
  }
  // UTILITIES
  img {
    cursor: pointer;
    width: 250px;
    margin: 30px 0px 40px 0px;
    border: 4px solid $primary-color;
    box-shadow: 0px 0px 55px 5px $light-color;
    transition: all 0.4s ease-in-out;
    &:hover {
      box-shadow: 0px 0px 60px 10px $light-color;
      opacity: 0.5;
    }
  }
  h3 {
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
    font-family: $font-c;
  }
  h4 {
    font-size: 24px;

    text-shadow: 0px 0px 20px #fff;
  }
  p {
    margin: 10px 0px;
    font-size: 22px;
    line-height: 1.5em;
  }
  .cent {
    position: relative;
    background-image: linear-gradient(to right bottom, $arrow, $primary-color);
    background-size: 500%;
    animation: anim 12s infinite alternate-reverse ease-in-out;
    @keyframes anim {
      50% {
        background-size: 100%;
      }
      100% {
        background-size: 500%;
      }
    }
    padding: 25px 0px;
    & > div {
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .freecode {
        border-bottom: 2px solid $primary-color;
        display: block;
        background-color: $main-color;
        h4 {
          color: #000;
          i {
            color: #000;
          }
        }
        h3 {
          color: #000;
        }
        .line {
          background-color: #000;
        }
      }
    }
    //JS
    .free-js {
      border-bottom: 2px solid $primary-color;
      display: block;
      background-color: $dark-color;
      h3 {
        color: $main-color;
      }
      h4 {
        color: $main-color;
      }
    }
    // REACT
    .free-react {
      border-bottom: 2px solid $primary-color;
      display: block;
      background-color: $dark-color;
      h4 {
        color: $main-color;
        i {
          color: $main-color;
        }
      }
      h3 {
        color: $main-color;
      }
      .line {
        background-color: $main-color;
      }
    }
    // SOLIDITY
    .free-solid {
      border-bottom: 2px solid $primary-color;
      display: block;
      background-color: $main-color;
      h3 {
        color: #000;
      }
      h4 {
        color: #000;
      }
      .line {
        background-color: #000;
      }
    }
    // IPFS
    .ipfs {
      border-bottom: 2px solid $primary-color;
      display: block;
      background-color: $main-color;
      h4 {
        color: #000;
        i {
          color: #000;
        }
      }
      h3 {
        color: #000;
      }
      .line {
        background-color: #000;
      }
    }
    // WEB3
    .web3 {
      background-color: $dark-color;
      h3 {
        color: $main-color;
      }
      h4 {
        color: $main-color;
      }
      .line {
        background-color: $main-color;
      }
    }
  }
}
// CONTACT
.contact {
  .container {
    margin: auto;
    h2 {
      font-size: 35px;
      color: $main-color;
    }
    form {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 25px;
    }
    .text {
      padding: 13px;
      width: 100%;
      font-size: 20px;
      font-family: $font-d;
      color: $main-color;
      border-radius: 10px;
      border: 3px solid $main-color;
      outline: transparent;
      transition: all 0.5s ease-in-out;
      font-weight: bold;
      transform: scale(1);
      &:hover {
        border: 3px solid $primary-color;
      }
      &:focus {
        transform: scale(1.01);
      }
    }
    .submit {
      margin: 20px auto;
      width: 30%;
      border-radius: 10px;
      padding: 15px;
      cursor: pointer;
      font-family: $font-d;
      background-color: $main-color;
      color: $light-color;
      font-size: 16px;
      transition: all 0.5s ease-in-out;
      outline: none;
      border: none;
      &:hover {
        color: #000;
        opacity: 0.7;
      }
      &:focus {
        box-shadow: 0px 0px 10px 5px #fff;
      }
    }
  }
}
// CONTACT B
.contact-b {
  background-color: $main-color;
  border-bottom: 3px solid $primary-color;
  padding: 20px 0px 0px 0px;
  .container {
    margin: 0px auto;
    .text-align {
      color: #000;
      font-size: 28px;
    }
    .line {
      background-color: #000;
    }
    .contect {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      h3 {
        display: block;
        transition: all 0.5s ease-in-out;
        padding-bottom: 15px;
        font-size: 20px;
        font-family: $font-c;
        font-weight: bold;
        color: $primary-color;
      }
      .fa {
        transition: all 0.5s ease-in-out;
        color: $idk;
        &:hover {
          color: $primary-color;
        }
      }
      .grid {
        display: grid;
        grid-template-columns: 1fr 6fr;
        font-size: 20px;
      }
    }
  }
}
// FOOTER
footer {
  background-color: $main-color;
  display: grid;
  grid-template-columns: 4fr 1fr;
  .foot a {
    transition: all 0.5s ease-in-out;
    color: #000;
    padding-bottom: 14px;
    font-size: 18px;
    font-weight: bold;
    &:hover {
      color: $primary-color;
    }
  }
  .line {
    background-color: #000;
  }
  p {
    font-size: 18px;
  }
  .links {
    position: relative;
    display: block;
    margin: 0px auto;
    a {
      position: relative;
      top: 0;
      margin: 5px 10px;
      color: #000;
      transition: all 0.5s ease-in-out;
      &:hover {
        top: -2px;
        color: $primary-color;
      }
    }
  }
}
@media (max-width: 1050px) {
  .main-a {
    #road {
      .road {
        ul {
          &:nth-child(odd) div {
            left: -370px;
            &::after {
              position: absolute;
              content: "";
              border: solid;
              border-width: 8px 8px 8px 16px;
              border-color: transparent transparent transparent $arrow;
              left: 345px;
            }
          }
          &:nth-child(even) div {
            left: 25px;
            &:after {
              position: absolute;
              content: "";
              display: block;
              border: solid;
              border-width: 8px 16px 8px 8px;
              border-color: transparent $arrow transparent transparent;
              left: -16px;
            }
          }
          div {
            width: 350px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .main-a {
    & > div {
      margin: auto;
    }
    h2 {
      color: $main-color;
      text-align: center;
      font-size: 30px;
    }
    .lead {
      margin: 40px 0px;
      line-height: 1.7em;
      font-size: 20px;
    }
    //   ROAD MAP
    #road {
      background-color: $main-color;
      border-bottom: 3px solid $primary-color;
      border-top: 3px solid $primary-color;

      h2 {
        color: $line-color;
        font-size: 28px;
      }
      .line {
        background-color: $line-color;
        width: 100px;
        margin-bottom: 20px;
      }
      h3 {
        margin-bottom: 30px;
      }
      // MAIN SUTFF OF ROAD MAP
      .road {
        ul {
          h3 {
            color: $head;
            display: block;
            font-family: $font-b;
            padding-bottom: 5px;
            border-bottom: 1px dotted $primary-color;
            font-size: 24px;
          }
          p {
            line-height: 1.7em;
            font-size: 18px;
          }
          // LEFT RIGHT
          &:nth-child(odd) div {
            left: -320px;
            &::after {
              position: absolute;
              content: "";
              border: solid;
              border-width: 8px 8px 8px 16px;
              border-color: transparent transparent transparent $arrow;
              left: 298px;
            }
          }
          &:nth-child(even) div {
            left: 25px;
            &:after {
              position: absolute;
              content: "";
              display: block;
              border: solid;
              border-width: 8px 16px 8px 8px;
              border-color: transparent $arrow transparent transparent;
              left: -16px;
            }
          }
          li {
            position: relative;
            width: 4px;
            margin: 0px auto;
            background-color: $idk;
            &::after {
              position: absolute;
              content: "";
              height: 15px;
              width: 15px;
              background-color: $idk;
              border-radius: 50%;
              left: -120%;
              bottom: 4px;
            }
          }
          div {
            position: relative;
            width: 300px;
            background-color: $idk;
            padding: 20px;
          }
        }
      }
    }
    .language-a,
    .language-b {
      .cent {
        & > div {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
@media (max-width: 830px) {
  footer {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
}
