@media (max-width: 600px) {
  // HEADER
  body {
    background-color: #222;
  }
  #main {
    background-color: #222;
  }

  // SECTION A
  .main {
    &-a {
      z-index: 1;
      .lead {
        margin-bottom: 40px;
        line-height: 1.6em;
        font-size: 17px;
      }
      h2 {
        color: $main-color;
        font-size: 28px;
      }

      // ROAD MAP
      #road {
        background-color: $main-color;
        border-bottom: 3px solid #000;
        h3 {
          margin-bottom: 10px;
        }
        h2 {
          color: $line-color;
        }
        .line {
          background-color: $line-color;
        }
        // MAIN STUFF OF ROAD MAP

        .road {
          ul {
            h3 {
              color: $head;
              display: block;
              font-family: $font-b;
              padding-bottom: 5px;
              border-bottom: 1px dotted $primary-color;
              font-size: 25px;
            }
            p {
              line-height: 1.8em;
              font-size: 17px;
            }

            // LEFT /right
            position: relative;
            &:nth-child(odd) div {
              position: relative;
              background-color: $idk;
              left: -193px;
              padding: 10px;
              &:after {
                position: absolute;
                content: "";
                display: block;
                border: solid;
                border-width: 8px 8px 8px 16px;
                border-color: transparent transparent transparent $arrow;
                left: 95%;
                bottom: 1%;
              }
            }
            &:nth-child(even) div {
              position: relative;
              background-color: $idk;
              left: 15px;
              padding: 10px;
              &:after {
                position: absolute;
                content: "";
                display: block;
                border: solid;
                border-width: 8px 16px 8px 0px;
                border-color: transparent $arrow transparent transparent;
                bottom: 1px;
                left: -3%;
              }
            }
            li {
              position: relative;
              width: 3px;
              margin: 0 auto;
              background-color: $idk;
              &:after {
                position: absolute;
                content: "";
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background-color: inherit;
                left: -130%;
                bottom: 1px;
              }
              // BOX
              div {
                width: 180px;
                transition: all 0.5s ease-in-out;
              }
            }
          }
        }
      }
    }
  }

  // SECTION B
  .section-b {
    // background-color: $primary-color;
    border-bottom: 2px solid $idk;
    h2 {
      margin: 25px 0px;
      font-size: 29px;
      line-height: 1.1em;
      color: $main-color;
    }
    .line {
      background-color: $main-color;
    }
  }

  // ENGLISH
  .language-a,
  .language-b {
    margin: 60px 0px 0px 0px;
    background-color: #222;
    border-bottom: 3px solid $primary-color;
    .cent {
      background-color: transparent;
      padding: 0px;
      & > div {
        display: block;
        margin: 0px;

        // FREE CODE

        .freecode,
        .techgun {
          border-bottom: 2px solid $primary-color;
          display: block;
          background-color: $main-color;
          h4 {
            color: #000;
            i {
              color: #000;
            }
          }
          h3 {
            color: #000;
          }
          .line {
            background-color: #000;
          }
        }
      }
      //JS
      .free-js {
        border-bottom: 2px solid $primary-color;
        display: block;
        h3 {
          color: $main-color;
        }
        h4 {
          color: $main-color;
        }
      }
      // REACT
      .free-react {
        border-bottom: 2px solid $primary-color;
        display: block;
        background-color: $main-color;
        h4 {
          color: #000;
          i {
            color: #000;
          }
        }
        h3 {
          color: #000;
        }
        .line {
          background-color: #000;
        }
      }
      // SOLIDITY
      .free-solid {
        border-bottom: 2px solid $primary-color;
        display: block;
        background-color: $dark-color;
        h3 {
          color: $main-color;
        }
        h4 {
          color: $main-color;
        }
      }
      // IPFS
      .ipfs {
        border-bottom: 2px solid $primary-color;
        display: block;
        background-color: $main-color;
        h4 {
          color: #000;
          i {
            color: #000;
          }
        }
        h3 {
          color: #000;
        }
        .line {
          background-color: #000;
        }
      }
    }
    h2 {
      color: $main-color;
      font-size: 28px;
      margin-bottom: 30px;
    }
    .mar {
      margin: 0px auto 50px auto;
    }
    // UTILITIES
    img {
      cursor: pointer;
      width: 250px;
      margin: 30px 0px 40px 0px;
      border: 4px solid $primary-color;
      box-shadow: 0px 0px 55px 5px $light-color;
      transition: all 0.5s ease-in-out;
      &:hover {
        opacity: 0.5;
      }
    }
    h3 {
      margin-top: 20px;
      font-size: 26px;
      font-weight: bold;
      font-family: $font-c;
    }
    h4 {
      font-size: 24px;

      text-shadow: 0px 0px 20px #fff;
    }
    p {
      margin: 10px 0px;
      font-size: 21px;
      line-height: 1.5em;
    }
  }
  // WEB3
  .web3 {
    h3 {
      color: $main-color;
    }
    h4 {
      color: $main-color;
    }
  }

  // CONTACT
  .contact {
    h2 {
      font-size: 35px;
      color: $main-color;
      text-align: center;
    }
    .line {
      height: 3px;
    }
    .container {
      form {
        display: grid;
        grid-template-rows: repeat(1fr);
        grid-gap: 5px;
        overflow: hidden;
        .message {
          height: 150px;
          max-width: 100%;
        }
        .submit {
          width: 50%;
          margin: 0 auto;
          font-size: 18px;
          padding: 10px 25px;
          background-color: $main-color;
          color: #fff;
          font-family: $font-d;
          border: none;
          border-radius: 5px;
          transition: all 0.5s ease-in-out;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }

        .text {
          transition: all 0.5s ease-in-out;
          border: 3px solid $main-color;
          font-family: $font-d;
          font-weight: bold;
          color: $main-color;
          font-size: 20px;
          margin: 10px 0px;
          padding: 15px 15px;
          width: 100%;

          &:focus {
            border: 2px solid $primary-color;
            outline: none;
            color: $main-color;
          }
        }
      }
    }
  }
  // CONTACT-b
  .contact-b {
    margin: 5px 0px 0px 0px;
    padding: 40px 0px 0px 0px;
    background-color: $main-color;
    border-bottom: 3px solid $primary-color;
    .container {
      h2 {
        font-size: 25px;
        line-height: 1.1em;
        color: #000;
      }
      .contect {
        display: grid;
        grid-template-rows: repeat(1fr);
        grid-template-columns: none;
        grid-gap: 20px;
        h3 {
          transition: all 0.5s ease-in-out;
          padding-bottom: 15px;
          font-size: 22px;
          border-bottom: 2px solid $idk;
          margin: 0 auto 0 0;
        }
      }
      .grid {
        display: grid;
        grid-template-columns: 1fr 6fr;
      }

      .line {
        background-color: #000;
      }
    }
    // FOOTER
    .cont-foot {
      background-color: #222;
      .line {
        background-color: $light-color;
      }
      .links {
        a {
          color: $primary-color;
          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }
  footer {
    background-color: $main-color;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    .foot a {
      font-size: 14px;
    }

    p {
      font-size: 18px;
    }
    .line {
      background-color: #000;
    }
    .links {
      position: relative;
      display: block;
      margin: 0px auto;
      a {
        position: relative;
        top: 0;
        margin: 5px 20px;
        color: #000;
        transition: all 0.5s ease-in-out;
        &:hover {
          top: -2px;

          color: $primary-color;
        }
      }
    }
  }
}
// 5s
@media (max-width: 375px) {
  // SECTION A
  .main {
    &-a {
      z-index: 1;
      .lead {
        margin-bottom: 40px;
        line-height: 1.6em;
        font-size: 17px;
      }
      h2 {
        color: $main-color;
        font-size: 28px;
      }

      // ROAD MAP
      #road {
        background-color: $main-color;
        border-bottom: 3px solid #000;
        h3 {
          margin-bottom: 10px;
        }
        h2 {
          color: $line-color;
        }
        .line {
          background-color: $line-color;
        }
        // MAIN STUFF OF ROAD MAP

        .road {
          ul {
            h3 {
              color: $head;
              display: block;
              font-family: $font-b;
              padding-bottom: 5px;
              border-bottom: 1px dotted $primary-color;
              font-size: 25px;
            }
            p {
              line-height: 1.8em;
              font-size: 17px;
            }

            // LEFT /right
            position: relative;
            &:nth-child(odd) div {
              position: relative;
              background-color: $idk;
              left: 20px;
              padding: 10px;
              &:after {
                position: absolute;
                content: "";
                display: block;
                border: solid;
                border-width: 8px 16px 8px 0px;
                border-color: transparent $arrow transparent transparent;
                bottom: 1px;
                left: -3%;
              }
            }
            &:nth-child(even) div {
              position: relative;
              background-color: $idk;
              left: 20px;
              padding: 10px;
              &:after {
                position: absolute;
                content: "";
                display: block;
                border: solid;
                border-width: 8px 16px 8px 0px;
                border-color: transparent $arrow transparent transparent;
                bottom: 1px;
                left: -3%;
              }
            }
            li {
              position: relative;
              width: 3px;
              margin: 20px auto 20px 0px;
              background-color: $idk;

              &:after {
                position: absolute;
                content: "";
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background-color: inherit;
                left: -130%;
                bottom: 1px;
              }
              // BOX
              div {
                border-bottom: 2px solid $primary-color;
                width: 240px;
                transition: all 0.5s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}
