$main-color: #6253cb;
$dark-color: #333;
$light-color: #fff;
$medium-color: #f4f4f4;
$primary-color: #7292bf;
$line-color: #111;
$hamburger: rgba(23, 88, 146, 0.75);
$idk: rgba(36, 22, 118, 0.9);
$arrow: rgba(36, 22, 118, 1);
$scroll: rgb(48, 28, 156);
$head: #000;

// FONTS
$font-a: "Dongle", sans-serif;
$font-b: "Roboto", sans-serif;
$font-c: "Source Sans Pro", sans-serif;
$font-d: "Creepster", cursive;
// UTILITIES

body {
  background-color: #222;
  color: #fff;
  scroll-behavior: smooth;
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 25px $main-color;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $idk;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: $scroll;
  }
}
.container {
  max-width: 1100px;
}
.text-align {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-b;
  font-weight: bold;
}

.lead {
  font-size: 18px;
  font-family: $font-c;
  line-height: 1.6rem;
  font-weight: 500;
}
.line {
  display: block;
  height: 2px;
  width: 20%;
  background-color: $main-color;
  margin: 15px auto;
}
.py-1 {
  padding: 1rem;
}
.py-2 {
  padding: 2rem;
}

.py-3 {
  padding: 3rem;
}

.py-4 {
  padding: 4rem;
}
.py-5 {
  padding: 5rem;
}

.my-1 {
  margin: 1rem;
}
.my-2 {
  margin: 2rem;
}

.my-3 {
  margin: 3rem;
}

.my-4 {
  margin: 4rem;
}
.my-5 {
  margin: 5rem;
}
